---
# Установка собственной темы gnzh
- name: Modify gnzh theme
  hosts: localhost
  become: false
  gather_facts: true

  vars:
    # Пользователь, для которого устанавливается тема gnzh
    zsh_user: waldemar13311

    # Домашняя директория пользователя в зависимости от ОС
    zsh_user_home: "{{ '/Users/' + zsh_user if ansible_os_family == 'Darwin' else '/home/' + zsh_user }}"

  tasks:
    - name: Copy my custom theme to ~/.zsh-my-gnzh-theme.zsh-theme
      ansible.builtin.copy:
        src: "files/.zsh-my-gnzh-theme.zsh-theme"
        dest: "{{ zsh_user_home }}/.zsh-my-gnzh-theme.zsh-theme"
        mode: '0644'
      become: false

    - name: Delete original gnzh theme from .zshrc
      ansible.builtin.lineinfile:
        path: "{{ zsh_user_home }}/.zshrc"
        regexp: '^antigen theme .*$'
        state: absent
      become: false

    - name: Add my custom theme to .zshrc
      ansible.builtin.lineinfile:
        path: "{{ zsh_user_home }}/.zshrc"
        line: '{{ item }}'
        insertafter: EOF  # Добавляет в конец файла
        state: present
      loop:
        - 'ZSH_THEME=""'
        - 'source ~/.zsh-my-gnzh-theme.zsh-theme'
      loop_control:
        loop_var: item
      become: false
